<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>果大侠</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="__PUBLIC__/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Bootstrap theme -->
    <link rel="stylesheet" href="__PUBLIC__/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="__PUBLIC__/bower_components/messenger/build/css/messenger.css">
    <link rel="stylesheet" href="__PUBLIC__/bower_components/messenger/build/css/messenger-theme-future.css">

  </head>

  <body role="document">
    <div class="container-fluid theme-showcase" role="main">
		<div class="row text-center">
			<div class="panel panel-default">
                <div class="panel-heading">{$current_or_next}水果安排<font size="2" color="#4FA74F"><strong>（买一送一，火爆促销中）</strong></font></div>
                <img style="height:auto;max-width:100%" src="__PUBLIC__/Wechat/images/fruit_menu3/{$week}.png" />
			</div>
			<div class="panel panel-default">
                <div class="panel-heading">选择取货地点<small>(配送仅限于以下地址)</small></div>
				<div class="panel-body">
				   <select id="location" class="form-control">
                       <volist name="locations" id="location">
                           <option value="{$location.id}">{$location.name}</option>
                       </volist>
					</select>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">个人信息</div>
				<div class="panel-body">
					<input id="name" type="text" class="form-control" style="margin:0px 0px 10px 0px" value="{$name|default=""}" placeholder="姓名">
                    <input id="phone" type="text" class="form-control" value="{$phone|default=""}" placeholder="手机号">
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">订单金额</div>
				<div class="panel-body">
                    订单金额：￥<font size="6" color="#4FA74F"><strong>{$money}</strong></font>元<font color="#FF8831">{$info}</font>
				</div>
			</div>
            <div style="margin:10px 10px 10px 10px">
                <button type="button" class="btn btn-success btn-lg btn-block" onclick="callpay()">提交订单</button>
			</div>
		</div>
    </div>
    <script src="__PUBLIC__/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="__PUBLIC__/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/bower_components/messenger/build/js/messenger.min.js"></script>
    <script src="__PUBLIC__/bower_components/messenger/build/js/messenger-theme-future.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<script type="text/javascript">
		//调用微信JS api 支付
		function jsApiCall()
		{
            if($('#name').val() == '' || $('#phone').val() == '') {
                Messenger().post("请填写姓名和电话");
                return;
            }
            $.post("{:U('Wechat/Wxpay/createOrder')}", {
                    openId : "{$openId}",
                    trade : "{$trade}",
                    locationId : $('#location').val(),
                    name : $('#name').val(),
                    phone : $('#phone').val()
                    }, function(result) {
                    if(result.success == true) {
                        WeixinJSBridge.invoke(
                            'getBrandWCPayRequest',
                            {$jsApiParameters},
                            function(res){
                            if(res.err_msg == 'get_brand_wcpay_request:ok') {
                                window.location.href =
                                "http://www.meirixianguo.com/wechat/wxpay/successpay/openId/{$openId}";
                            }
                            }
                        );
                    } else {
                        alert('false');
                    }
            });
		}

		function callpay()
		{
			if (typeof WeixinJSBridge == "undefined"){
			    if( document.addEventListener ){
			        document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
			    }else if (document.attachEvent){
			        document.attachEvent('WeixinJSBridgeReady', jsApiCall); 
			        document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
			    }
			}else{
			    jsApiCall();
			}
		}
        $(document).ready(function() {
            Messenger.options = {
                extraClasses: 'messenger-fixed messenger-on-top',
                theme: 'future'
            }
            $('#location').val('{$locationId}');
        });
	</script>
  </body>
</html>
