<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>果大侠</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="__PUBLIC__/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Bootstrap theme -->
    <link rel="stylesheet" href="__PUBLIC__/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="__PUBLIC__/bower_components/messenger/build/css/messenger.css">
    <link rel="stylesheet" href="__PUBLIC__/bower_components/messenger/build/css/messenger-theme-future.css">

  </head>

  <body role="document">
    <div class="container-fluid theme-showcase" role="main">
		<div class="row text-center">
			<div class="panel panel-success">
				<div class="panel-heading">本周水果安排</div>
				<div class="panel-body">
                    周一：苹果</br>
                    周二：橘子</br>
                    周三：香蕉</br>
                    周四：葡萄</br>
                    周五：神秘水果</br>
				</div>
			</div>
			<div class="panel panel-success">
				<div class="panel-heading">选择取货地点</div>
				<div class="panel-body">
				   <select id="location" class="form-control">
                       <volist name="locations" id="location">
                           <option value="{$location.id}">{$location.name}</option>
                       </volist>
					</select>
				</div>
			</div>
			<div class="panel panel-success">
				<div class="panel-heading">个人信息</div>
				<div class="panel-body">
					<input id="name" type="text" class="form-control" style="margin:0px 0px 10px 0px" value="{$name|default=""}" placeholder="姓名">
                    <input id="phone" type="text" class="form-control" value="{$phone|default=""}" placeholder="手机号">
				</div>
			</div>
			<div class="panel panel-success">
				<div class="panel-heading">订单金额</div>
				<div class="panel-body">
                    {$money}
				</div>
			</div>
			<button type="button" class="btn btn-success btn-lg btn-block"
                onclick="callpay()">付款</button>
		</div>
    </div>
    <script src="__PUBLIC__/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="__PUBLIC__/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/bower_components/messenger/build/js/messenger.min.js"></script>
    <script src="__PUBLIC__/bower_components/messenger/build/js/messenger-theme-future.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<script type="text/javascript">
		//调用微信JS api 支付
		function jsApiCall()
		{
            if($('#name').val() == '' || $('#phone').val() == '') {
                Messenger().post("请填写姓名和电话");
                return;
            }
            $.post("{:U('Wechat/Wxpay/createOrder')}", {
                    openId : "{$openId}",
                    trade : "{$trade}",
                    locationId : $('#location').val(),
                    name : $('#name').val(),
                    phone : $('#phone').val()
                    }, function(result) {
                    if(result.success == true) {
                        WeixinJSBridge.invoke(
                            'getBrandWCPayRequest',
                            {$jsApiParameters},
                            function(res){
                            if(res.err_msg == 'get_brand_wcpay_request:ok') {
                                window.location.href =
                                "http://www.meirixianguo.com/wechat/wxpay/success/openId/{$openId}";
                            }
                            //alert(res.err_code + res.err_desc+res.err_msg);
                            }
                        );
                    } else {
                        alert('false');
                    }
            });
		}

		function callpay()
		{
			if (typeof WeixinJSBridge == "undefined"){
			    if( document.addEventListener ){
			        document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
			    }else if (document.attachEvent){
			        document.attachEvent('WeixinJSBridgeReady', jsApiCall); 
			        document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
			    }
			}else{
			    jsApiCall();
			}
		}
        $(document).ready(function() {
            Messenger.options = {
                extraClasses: 'messenger-fixed messenger-on-top',
                theme: 'future'
            }
            $('#location').val('{$locationId}');
            wx.config({
                debug: false,
                appId: '{$signPackage.appId}',
                timestamp: {$signPackage.timestamp},
                nonceStr:  '{$signPackage.nonceStr}',
                signature: '{$signPackage.signature}',
                jsApiList: [
                  'onMenuShareTimeline',
                  'onMenuShareAppMessage'
                ]
            });
            wx.ready(function () {
                wx.checkJsApi({
                jsApiList: [
                  'onMenuShareTimeline',
                  'onMenuShareAppMessage'
                  ],
                  success : function(res) {
                  if(res.checkResult.onMenuShareTimeline == false ||
                      res.checkResult.onMenuShareAppMessage == false)
                      alert('请升级微信版本');
                  }
                });
              var shareData = {
                  title: '果大侠-办公室水果第一品牌',
                  desc: '在长大的过程中，我才慢慢发现，我身边的所有事，别人跟我说的所有事，那些所谓本来如此，注定如此的事，它们其实没有非得如此，事情是可以改变的。更重要的是，有些事既然错了，那就该做出改变。',
                  link: 'http://mp.weixin.qq.com/s?__biz=MzAwODAzMTAwMg==&mid=200805974&idx=1&sn=36f55c2d0a9a9051bba2065f3ec4ce4b#rd',
                  imgUrl: 'http://www.meirixianguo.com/Public/Wechat/images/logo_left.png',
                  trigger: function (res) {
                  },
                  success: function (res) {
                    $.post("{:U('Wechat/Wxpay/getVoucher')}", {
                        openId : "{$openId}",
                        voucherId : 1
                        }, function(result) {
                            Messenger().post(result.message);
                            if(result.success == true) {
                                window.location.href =
                                "http://www.meirixianguo.com/wechat/wxpay/order";
                            }
                    });
                  },
                  cancel: function (res) {
                  },
                  fail: function (res) {
                  }
              };
              wx.onMenuShareAppMessage(shareData);
              wx.onMenuShareTimeline(shareData);
              //wx.onMenuShareQQ(shareData);
              //wx.onMenuShareWeibo(shareData);
          });
        });
	</script>
  </body>
</html>
