<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>购买成功</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="__PUBLIC__/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Bootstrap theme -->
    <link rel="stylesheet" href="__PUBLIC__/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="__PUBLIC__/bower_components/messenger/build/css/messenger.css">
    <link rel="stylesheet" href="__PUBLIC__/bower_components/messenger/build/css/messenger-theme-future.css">

    <style type="text/css">
        body {background-color: #F8F8F8}
    </style>
  </head>

  <body role="document">
    <div class="container-fluid theme-showcase" role="main">
		<div class="row text-right" style="margin:10px 10px 10px 15px">
            <img style="height:auto;max-width:100%" src="__PUBLIC__/Wechat/images/mark.png" />
		</div>
		<div class="row text-center" style="margin:50px 10px 10px 10px">
            <img style="height:auto;max-width:100%" src="__PUBLIC__/Wechat/images/success.png" />
		</div>
    </div>
    <script src="__PUBLIC__/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="__PUBLIC__/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/bower_components/messenger/build/js/messenger.min.js"></script>
    <script src="__PUBLIC__/bower_components/messenger/build/js/messenger-theme-future.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<script type="text/javascript">
    $(document).ready(function() {
        Messenger.options = {
            extraClasses: 'messenger-fixed messenger-on-top',
            theme: 'future'
        }
        wx.config({
            debug: false,
            appId: '{$signPackage.appId}',
            timestamp: {$signPackage.timestamp},
            nonceStr:  '{$signPackage.nonceStr}',
            signature: '{$signPackage.signature}',
            jsApiList: [
              'onMenuShareTimeline',
              'onMenuShareAppMessage'
            ]
        });
        wx.ready(function () {
            wx.checkJsApi({
            jsApiList: [
              'onMenuShareTimeline',
              'onMenuShareAppMessage'
              ],
              success : function(res) {
              if(res.checkResult.onMenuShareTimeline == false ||
                  res.checkResult.onMenuShareAppMessage == false)
                  alert('请升级微信版本');
              }
            });
          var shareData = {
              title: '这个真方便啊，大家都看看，我们一起来吧！',
              desc: '妈妈说：工作忙，要多注意身体！爱人说：少吃不健康的食品，多吃水果！果大侠说：是时候关心自己了！',
              link: 'http://www.meirixianguo.com/wechat/wxpay/order?showwxpaytitle=1',
              imgUrl: 'http://www.meirixianguo.com/Public/Wechat/images/logo_left.png',
              trigger: function (res) {
              },
              success: function (res) {
                $.post("{:U('Wechat/Wxpay/getVoucher')}", {
                    openId : "{$openId}",
                    voucherId : 1
                    }, function(result) {
                        Messenger().post(result.message);
                        if(result.success == true) {
                            window.location.href =
                            "http://www.meirixianguo.com/wechat/wxpay/order";
                        }
                });
              },
              cancel: function (res) {
              },
              fail: function (res) {
              }
          };
          wx.onMenuShareAppMessage(shareData);
          wx.onMenuShareTimeline(shareData);
          //wx.onMenuShareQQ(shareData);
          //wx.onMenuShareWeibo(shareData);
      });
    });
	</script>
  </body>
</html>
