<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
    <!--<meta name="viewport" content="width=320,maximum-scale=1.3,user-scalable=no">-->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>果大侠</title>
    <link rel="stylesheet" href="__PUBLIC__/Wechat/css/normalize.css" type="text/css" media="screen">
    <link rel="stylesheet" href="__PUBLIC__/Wechat/css/main.css" type="text/css" media="screen">
    <!-- fruit Scheme -->
    <link rel="stylesheet" href="__PUBLIC__/Wechat/css/fruit.css" type="text/css" media="screen">
</head>
<body>
    <div id="st-container">
        <div class="st-pusher">
            <div class="st-content">
                <div class="st-content-inner overflow_no">
                    <!-- Top Navigation -->
                    <header>
                    <div>
                        <a class="menu-left" href="index.html"></a></div>
	                    <h1>我的订单</h1><a href="#"></a>
                    </header>
                    <div class="">
                        <div class="swiper-container swiper-nested">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="pages_container order_bg">
                                        <div class="menu_order">
                                            <div class="order_div1">
                                                <div class="order_div2">
                                                    <span class="order_div3">{$date}</span>
                                                </div>
                                                <div class="order_div4">
                                                    <button class="button radius6" onclick="window.location.href='order_submit.html';return false" style="width: 40%; float: right">
                                                        付款</button>
                                                    <span class="order_div5">未付款</span></div>
                                            </div>
                                            <ul>
                                                <li>
                                                    <table class="tb1">
                                                        <tr>
                                                            <td class="tb1-td1">
                                                                <div class="order-time">
                                                                    周一<br />
                                                                    13.90</div>
                                                            </td>
                                                            <td class="tb1-td2">
                                                                <table>
                                                                    <tr>
                                                                        <td class="td1">
                                                                            <img src="__PUBLIC__/Wechat/images/order_01.png" alt="" title="" />
                                                                        </td>
                                                                        <td class="td2">
                                                                            <span>山东绿宝甜瓜，甜脆 </span>
                                                                        </td>
                                                                        <td class="td3">
                                                                            <tt>￥3.00 </tt><tt class="weight1">X2</tt>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="td1">
                                                                            <img src="__PUBLIC__/Wechat/images/order_02.png" alt="" title="" />
                                                                        </td>
                                                                        <td class="td2">
                                                                            <span>新西兰大草莓，甜美 </span>
                                                                        </td>
                                                                        <td class="td3">
                                                                            <tt>￥3.00 </tt><tt class="weight1">X1</tt>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </li>
                                                <li>
                                                    <table class="tb1">
                                                        <tr>
                                                            <td class="tb1-td1">
                                                                <div class="order-time">
                                                                    周二<br />
                                                                    3.10</div>
                                                            </td>
                                                            <td class="tb1-td2">
                                                                <table>
                                                                    <tr>
                                                                        <td class="td1">
                                                                            <img src="__PUBLIC__/Wechat/images/order_03.png" alt="" title="" />
                                                                        </td>
                                                                        <td class="td2">
                                                                            <span>佳沛意大利绿奇异果</span>
                                                                        </td>
                                                                        <td class="td3">
                                                                            <tt>￥3.00 </tt><tt class="weight1">X1</tt>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </li>
                                                <li>
                                                    <table class="tb1">
                                                        <tr>
                                                            <td class="tb1-td1">
                                                                <div class="order-time">
                                                                    周三<br />
                                                                    3.11</div>
                                                            </td>
                                                            <td class="tb1-td2">
                                                                <table>
                                                                    <tr>
                                                                        <td class="td1">
                                                                            <img src="__PUBLIC__/Wechat/images/order_04.png" alt="" title="" />
                                                                        </td>
                                                                        <td class="td2">
                                                                            <span>东北特产野生小榛子</span>
                                                                        </td>
                                                                        <td class="td3">
                                                                            <tt>￥3.00 </tt><tt class="weight1">X1</tt>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </li>
                                                <li>
                                                    <table class="tb1">
                                                        <tr>
                                                            <td class="tb1-td1">
                                                                <div class="order-time">
                                                                    周四<br />
                                                                    3.12</div>
                                                            </td>
                                                            <td class="tb1-td2">
                                                                <table>
                                                                    <tr>
                                                                        <td class="td1">
                                                                            <img src="__PUBLIC__/Wechat/images/order_05.png" alt="" title="" />
                                                                        </td>
                                                                        <td class="td2">
                                                                            <span>奉贤光明锦绣黄桃</span>
                                                                        </td>
                                                                        <td class="td3">
                                                                            <tt>￥3.00 </tt><tt class="weight1">X1</tt>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </li>
                                                <li>
                                                    <table class="tb1">
                                                        <tr>
                                                            <td class="tb1-td1">
                                                                <div class="order-time">
                                                                    周五<br />
                                                                    3.13</div>
                                                            </td>
                                                            <td class="tb1-td2">
                                                                <table>
                                                                    <tr>
                                                                        <td class="td1">
                                                                            <img src="__PUBLIC__/Wechat/images/order_06.png" alt="" title="" />
                                                                        </td>
                                                                        <td class="td2">
                                                                            <span>美国晚熟红地球提子</span>
                                                                        </td>
                                                                        <td class="td3">
                                                                            <tt>￥3.00 </tt><tt class="weight1">X1</tt>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </li>
                                            </ul> <br />
                                            <div class="order_div7">
                                                共6件商品，<span class="txt">实付</span>：￥<span class="all_price">56.00</span>
                                            </div>
                                            <div class="order_div1">
                                                <div class="order_div2">
                                                    <span class="order_div3">2014-3-28</span>
                                                </div>
                                                <div class="order_div4">
                                                    <span class="order_div6">交易成功</span></div>
                                            </div>
                                            <ul>
                                                <li>
                                                    <table class="tb1">
                                                        <tr>
                                                            <td class="tb1-td1">
                                                                <div class="order-time">
                                                                    周一<br />
                                                                    3.9</div>
                                                            </td>
                                                            <td class="tb1-td2">
                                                                <table>
                                                                    <tr>
                                                                        <td class="td1">
                                                                            <img src="__PUBLIC__/Wechat/images/order_01.png" alt="" title="" />
                                                                        </td>
                                                                        <td class="td2">
                                                                            <span>山东绿宝甜瓜，甜脆 </span>
                                                                        </td>
                                                                        <td class="td3">
                                                                            <tt>￥3.00 </tt><tt class="weight1">X2</tt>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </li>
                                                <li>
                                                    <table class="tb1">
                                                        <tr>
                                                            <td class="tb1-td1">
                                                                <div class="order-time">
                                                                    周二<br />
                                                                    3.10</div>
                                                            </td>
                                                            <td class="tb1-td2">
                                                                <table>
                                                                    <tr>
                                                                        <td class="td1">
                                                                            <img src="__PUBLIC__/Wechat/images/order_03.png" alt="" title="" />
                                                                        </td>
                                                                        <td class="td2">
                                                                            <span>佳沛意大利绿奇异果</span>
                                                                        </td>
                                                                        <td class="td3">
                                                                            <tt>￥3.00 </tt><tt class="weight1">X1</tt>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </li>
                                                <li>
                                                    <table class="tb1">
                                                        <tr>
                                                            <td class="tb1-td1">
                                                                <div class="order-time">
                                                                    周三<br />
                                                                    3.11</div>
                                                            </td>
                                                            <td class="tb1-td2">
                                                                <table>
                                                                    <tr>
                                                                        <td class="td1">
                                                                            <img src="__PUBLIC__/Wechat/images/order_04.png" alt="" title="" />
                                                                        </td>
                                                                        <td class="td2">
                                                                            <span>东北特产野生小榛子</span>
                                                                        </td>
                                                                        <td class="td3">
                                                                            <tt>￥3.00 </tt><tt class="weight1">X1</tt>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </li>
                                                <li>
                                                    <table class="tb1">
                                                        <tr>
                                                            <td class="tb1-td1">
                                                                <div class="order-time">
                                                                    周四<br />
                                                                    3.12</div>
                                                            </td>
                                                            <td class="tb1-td2">
                                                                <table>
                                                                    <tr>
                                                                        <td class="td1">
                                                                            <img src="__PUBLIC__/Wechat/images/order_05.png" alt="" title="" />
                                                                        </td>
                                                                        <td class="td2">
                                                                            <span>奉贤光明锦绣黄桃</span>
                                                                        </td>
                                                                        <td class="td3">
                                                                            <tt>￥3.00 </tt><tt class="weight1">X1</tt>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </li>
                                                <li>
                                                    <table class="tb1">
                                                        <tr>
                                                            <td class="tb1-td1">
                                                                <div class="order-time">
                                                                    周五<br />
                                                                    3.13</div>
                                                            </td>
                                                            <td class="tb1-td2">
                                                                <table>
                                                                    <tr>
                                                                        <td class="td1">
                                                                            <img src="__PUBLIC__/Wechat/images/order_06.png" alt="" title="" />
                                                                        </td>
                                                                        <td class="td2">
                                                                            <span>美国晚熟红地球提子</span>
                                                                        </td>
                                                                        <td class="td3">
                                                                            <tt>￥3.00 </tt><tt class="weight1">X1</tt>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </li>
                                            </ul><br />
                                            <div class="order_div7">
                                                共6件商品，<span class="txt">实付</span>：￥<span class="all_price">56.00</span>
                                            </div>
                                            <div class="clearfix">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /st-content-inner -->
            </div>
            <!-- /st-content -->
        </div>
        <!-- /st-pusher -->
    </div>
    <!-- /st-container -->
    <script src="__PUBLIC__/Wechat/js/jquery-1.10.2.min.js"></script>
    <!-- Swiper -->
    <script src="__PUBLIC__/Wechat/js/idangerous.swiper-2.2.min.js"></script>
    <script src="__PUBLIC__/Wechat/js/classie.js"></script>
    <script src="__PUBLIC__/Wechat/js/sidebarEffects.js"></script>
    <script src="__PUBLIC__/Wechat/js/swipers.js"></script>
    <script src="__PUBLIC__/Wechat/js/custom.js"></script>
    <script src="__PUBLIC__/Wechat/js/code.js" type="text/javascript"></script>
</body>
</html>
