<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>NT Admin Template</title>
<meta name="description" content="">

<meta name="viewport" content="width=device-width">

<link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.css">
<link rel="stylesheet" href="__PUBLIC__/Admin/css/jquery.fancybox.css">
<link rel="stylesheet" href="__PUBLIC__/Admin/css/error.css">
</head>
<body class='b_error'>
	<div class="error_page">
		<div class="desc">
			Not found! The requested page could not be found.
		</div>
		<div class="error">
			404
		</div>
	</div>
<script src="__PUBLIC__/Admin/js/jquery.js"></script>
<script src="__PUBLIC__/Admin/js/jquery.fitText.js"></script>
<script src="__PUBLIC__/Admin/js/error.js"></script>
</body>
</html>
