<!doctype html>
<html lang="en">
<head>

<meta charset="utf-8">
<title>果大侠后台管理</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.css">
<link rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap-responsive.css">
<link rel="stylesheet" href="__PUBLIC__/Admin/css/jquery.fancybox.css">
<link rel="stylesheet" href="__PUBLIC__/Admin/css/style.css">
<block name="css"></block>
</head>

<body>

<div class="style-toggler">
    <img src="__PUBLIC__/Admin/img/icons/fugue/color.png" alt="" class='tip' title="Toggle style-switcher" data-placement="right">
</div>					
<div class="style-switcher">
    <h3>Style-switcher</h3>
    <ul class='color'>
        <li>
        <a href="#" class='style'>Default</a>
        </li>
        <li>
        <a href="#" class='blue'>Blue</a>
        </li>
        <li>
        <a href="#" class='green'>Green</a>
        </li>
        <li>
        <a href="#" class='red'>Red</a>
        </li>
    </ul>
    <h3>Pattern-switcher</h3>
    <ul class='pattern'>
        <li>
        <a href="#" class='default'>Default</a>
        </li>
        <li>
        <a href="#" class='dark'>Dark wood</a>
        </li>
        <li><a href="#" class='light'>Light</a></li>
        <li><a href="#" class='wood'>Wood</a></li>
        <li><a href="#" class='retina-wood'>Retina-wood</a></li>
        <li><a href="#" class='linen'>Linen</a></li>
        <li><a href="#" class='paper'>Paper</a></li>
    </ul>
</div>
<div class="topbar">
    <div class="container-fluid">
        <a href="dashboard.html" class='company'>果大侠后台管理</a>
        <form action="#">
            <input type="text" value="Search here...">
        </form>
        <ul class='mini'>
            <li class='dropdown messageContainer'>
            <a href="#" class='dropdown-toggle' data-toggle='dropdown'>
                <img src="__PUBLIC__/Admin/img/icons/fugue/balloons-white.png" alt="">
                消息
                <span class="label label-info">3</span>
            </a>
            <ul class="dropdown-menu pull-right custom custom-dark">
                <li class='custom'>
                <div class="title">
                    Hello, whats your name?
                    <span>Jul 22, 2012 by <a href="#" class='pover' data-title="Hover me" data-content="User information comes here">Hover me</a></span>
                </div>
                <div class="action">
                    <div class="btn-group">
                        <a href="#" class='tip btn btn-mini' title="Show message"><img src="__PUBLIC__/Admin/img/icons/fugue/magnifier.png" alt=""></a>
                        <a href="#" class='tip btn btn-mini' title="Reply message"><img src="__PUBLIC__/Admin/img/icons/fugue/mail-reply.png" alt=""></a>
                    </div>
                </div>
                </li>
            </ul>
            </li>
            <li>
            <a href="#">
                <img src="__PUBLIC__/Admin/img/icons/fugue/gear.png" alt="">
                设置
            </a>
            </li>
            <li>
            <a href="{:U('Admin/Index/doLogout')}">
                <img src="__PUBLIC__/Admin/img/icons/fugue/control-power.png" alt="">
                退出
            </a>
            </li>
        </ul>
    </div>
</div>
<div class="breadcrumbs">
    <div class="container-fluid">
        <ul class="bread pull-left">
            <li>
            <a href="dashboard.html"><i class="icon-home icon-white"></i></a>
            </li>
            <li>
            <a href="dashboard.html">
                Dashboard
            </a>
            </li>
        </ul>

    </div>
</div>
<div class="main">
    <div class="container-fluid">
        <div class="navi">
            <ul class='main-nav'>
                <li id='dashboard'>
                <a href="dashboard.html" class='light'>
                    <div class="ico"><i class="icon-home icon-white"></i></div>
                    框架
                    <span class="label label-warning">10</span>
                </a>
                </li>
                <li id="data">
                <a href="#" class='light toggle-collapsed'>
                    <div class="ico"><i class="icon-th-large icon-white"></i></div>
                    数据
                    <img src="__PUBLIC__/Admin/img/toggle-subnav-down.png" alt="">
                </a>
                <ul class='collapsed-nav closed'>
                    <li id="user">
                    <a href="user_table.html">
                        用户列表
                    </a>
                    </li>
                    <li id="prize_of_user">
                    <a href="prize_of_user_table.html">
                        中奖用户
                    </a>
                    </li>
                </ul>
                </li>
                <li id="statistics">
                <a href="statistics.html" class='light'>
                    <div class="ico"><i class="icon-signal icon-white"></i></div>
                    统计
                    <span class="label label-important">3</span>
                </a>
                </li>
                <li id="calendar">
                <a href="calendar.html" class='light'>
                    <div class="ico"><i class="icon-calendar icon-white"></i></div>
                    日程
                </a>
                </li>
                <li id="profile">
                <a href="profile.html" class='light'>
                    <div class="ico"><i class="icon-user icon-white"></i></div>
                    用户
                </a>
                </li>
            </ul>
        </div>
        <div class="content">
            <block name="content"></block>
        </div>	
    </div>
</div>	
<script src="__PUBLIC__/Admin/js/jquery.js"></script>
<script src="__PUBLIC__/Admin/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/Admin/js/jquery.peity.js"></script>
<script src="__PUBLIC__/Admin/js/jquery.fancybox.js"></script>
<script src="__PUBLIC__/Admin/js/jquery.flot.js"></script>
<script src="__PUBLIC__/Admin/js/jquery.color.js"></script>
<script src="__PUBLIC__/Admin/js/jquery.flot.resize.js"></script>
<script src="__PUBLIC__/Admin/js/jquery.cookie.js"></script>
<script src="__PUBLIC__/Admin/js/custom.js"></script>
<script src="__PUBLIC__/Admin/js/demo.js"></script>
<block name="script">
</block>
</body>
</html>
