<extend name="base2" />
<block name="css">
<link rel="stylesheet" href="__PUBLIC__/bower_components/fullcalendar/dist/fullcalendar.min.css">
<link rel="stylesheet" href="__PUBLIC__/bower_components/fullcalendar/dist/fullcalendar.print.css" media='print'>
</block>
<block name="content">
    <div class="row">
        <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">日程安排</div>
        <div style="margin:15px 8px 8px 8px">
            <div class="calendar"></div>
        </div>
        </div>
    </div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">请输入日程内容</h4>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="form-group">
            <label for="title">日程内容</label>
            <input type="text" class="form-control" id="title">
          </div>
          <div class="form-group">
            <label for="url">网址</label>
            <input type="text" class="form-control" id="url">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button id="cancel" type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button id="ok" type="button" class="btn btn-primary">确定</button>
      </div>
    </div>
  </div>
</div>
</block>
<block name='script'>
<script src="__PUBLIC__/bower_components/moment/min/moment.min.js"></script>
<script src="__PUBLIC__/bower_components/fullcalendar/dist/lang/zh-cn.js"></script>
<script src="__PUBLIC__/bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#calendar').addClass('active');
    var date = new Date();
    var d = date.getDate();
    var m = date.getMonth();
    var y = date.getFullYear();
    var g_start;
    var g_end;

    if($('.calendar').length > 0){
    $('.calendar').fullCalendar({
        header: {
            left: 'prev,next,today',
            center: 'title',
            right: 'month,agendaWeek,agendaDay'
        },
        editable: true,
        selectable: true,
        selectHelper: true,
        unselectAuto: false,
        timezone: 'Asia/Harbin',
        titleFormat: {
            month: 'YYYY年MM月',
            week: "YYYY年MM月DD日", // Sep 7 - 13 2013
            day: 'YYYY年MM月DD日' // Tuesday, Sep 8, 2013
        },
        select: function(start, end) {
            g_start = start;
            g_end = end;
            $('#myModal').modal();
        },
eventResize: function(event, delta, revertFunc) {

        alert(event.title + " end is now " + event.end.format());

        if (!confirm("is this okay?")) {
            revertFunc();
        }

    },
        lang: 'zh-cn',
        events: [
        {
            title: 'All Day Event',
            start: new Date(y, m, 1)
        },
        {
            title: 'Long Event',
            start: new Date(y, m, d-5),
            end: new Date(y, m, d-2)
        },
        {
            id: 999,
            title: 'Repeating Event',
            start: new Date(y, m, d-3, 16, 0),
            allDay: false
        },
        {
            id: 999,
            title: 'Repeating Event',
            start: new Date(y, m, d+4, 16, 0),
            allDay: false
        },
        {
            title: 'Meeting',
            start: new Date(y, m, d, 10, 30),
            allDay: false
        },
        {
            title: 'Lunch',
            start: new Date(y, m, d, 12, 0),
            end: new Date(y, m, d, 14, 0),
            allDay: false
        },
        {
            title: 'Birthday Party',
            start: new Date(y, m, d+1, 19, 0),
            end: new Date(y, m, d+1, 22, 30),
            allDay: false
        },
        {
            title: 'Click for Google',
            start: new Date(y, m, 28),
            end: new Date(y, m, 29),
            url: '../../google.com/default.htm'
        }
        ]
    });
    }
$('#ok').on('click', function () {
    var $btn = $(this).button('add...')
    var eventData = {
            title: $('#title').val(),
            start: g_start,
            end: g_end
        };
        alert(g_start.format('L'));
    $('.calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
    $('.calendar').fullCalendar('unselect');
    $('#myModal').modal('hide')
  })

$('#cancel').on('click', function () {
    $('.calendar').fullCalendar('unselect');
        })
});
</script>
</block>
