<extend name="base2" />
<block name="css">
<link rel="stylesheet" href="__PUBLIC__/bower_components/DataTables/media/css/jquery.dataTables.css">
<link rel="stylesheet" href="__PUBLIC__/bower_components/datatables-tabletools/css/dataTables.tableTools.css">
<link rel="stylesheet" href="__PUBLIC__/Common/DataTables.Editor/css/dataTables.editor.min.css">
<link rel="stylesheet" href="__PUBLIC__/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css">
</block>
<block name="content">
<div class="row">
    <h2>水果管理开发中...</h2>
</div>
</block>
<block name='script'>
<script src="__PUBLIC__/bower_components/DataTables/media/js/jquery.dataTables.min.js"></script>
<script src="__PUBLIC__/bower_components/datatables-tabletools/js/dataTables.tableTools.js"></script>
<script src="__PUBLIC__/Common/DataTables.Editor/js/dataTables.editor.min.js"></script>
<script src="__PUBLIC__/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
<script type="text/javascript">
var editor;
$(document).ready(function() {
$('#fruit_edit').addClass('active');
});
</script>
</block>
