<extend name="base2" />
<block name="css">
<link rel="stylesheet" href="__PUBLIC__/Common/dataTables/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="__PUBLIC__/Common/dataTables/extensions/tableTools/css/dataTables.tableTools.min.css">
<link rel="stylesheet" href="__PUBLIC__/Common/dataTables/extensions/editor/css/dataTables.editor.min.css">
</block>
<block name="content">
<div class="content">
<div class="row">
    <h2>订单管理开发中...</h2>
</div>
</div>
</block>
<block name='script'>
<script src="__PUBLIC__/Common/dataTables/js/jquery.dataTables.js"></script>
<script src="__PUBLIC__/Common/dataTables/extensions/tableTools/js/dataTables.tableTools.min.js"></script>
<script src="__PUBLIC__/Common/dataTables/extensions/editor/js/dataTables.editor.min.js"></script>
<script type="text/javascript">
var editor;
$(document).ready(function() {
$('#order_edit').addClass('active');
});
</script>
</block>
