<extend name="base" />
<block name="content">
<div class="content">
    <div class="row-fluid">
        <div class="span12">
            <div class="box">
                <div class="box-head">
                    <h3>Lorem ipsum Username</h3>
                </div>
                <div class="box-content">
                    <div class="cl">
                        <div class="pull-left">
                            <h3>Username</h3>
                            <img src="__PUBLIC__/Admin/img/sample/180x220.gif" alt="">
                        </div>
                        <div class="details pull-left userprofile">
                            <table class="table table-striped table-detail">
                                <tr>
                                    <th>Username: </th>
                                    <td>username</td>
                                </tr>
                                <tr>
                                    <th>Register date:</th>
                                    <td>Jul 13, 2011</td>
                                </tr>
                                <tr>
                                    <th>Usergroup:</th>
                                    <td><span class="label label-success">Clients</span> <span class="label label-warning">Premium</span></td>
                                </tr>
                                <tr>
                                    <th>Email:</th>
                                    <td>
                                        <a href="#">emailaddress@provider.com</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Premium till:</th>
                                    <td>Jan 31, 2015</td>
                                </tr>
                                <tr>
                                    <th>Last login:</th>
                                    <td>Today</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <h3 class='divide'>Basic information</h3>
                    <table class="table table-striped table-detail">
                        <tr>
                            <th>Username: </th>
                            <td>username</td>
                        </tr>
                        <tr>
                            <th>Register date:</th>
                            <td>Jul 13, 2011</td>
                        </tr>
                        <tr>
                            <th>Usergroup:</th>
                            <td><span class="label label-important">Member</span> <span class="label label-inverse">Total</span></td>
                        </tr>
                        <tr>
                            <th>Email:</th>
                            <td>
                                <a href="#">emailaddress@provider.com</a>
                            </td>
                        </tr>
                        <tr>
                            <th>Premium till:</th>
                            <td>Jan 31, 2015</td>
                        </tr>
                        <tr>
                            <th>Last login:</th>
                            <td>Today</td>
                        </tr>
                        <tr>
                            <th>Username: </th>
                            <td>username</td>
                        </tr>
                        <tr>
                            <th>Register date:</th>
                            <td>Jul 13, 2011</td>
                        </tr>
                        <tr>
                            <th>Email:</th>
                            <td>
                                <a href="#">emailaddress@provider.com</a>
                            </td>
                        </tr>
                        <tr>
                            <th>Premium till:</th>
                            <td>Jan 31, 2015</td>
                        </tr>
                        <tr>
                            <th>Last login:</th>
                            <td>Today</td>
                        </tr>
                    </table>
                    <h3 class="divide">Username Gallery</h3>
                    <ul class="gallery">
                        <li>
                        <a href="__PUBLIC__/Admin/img/sample/500.gif" class="preview fancy"><img src="__PUBLIC__/Admin/img/sample/100.gif" alt=""></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>	
</block>
<block name='script'>
<script type="text/javascript">
$('#profile').addClass('active');
</script>
</block>
