<extend name="base" />
<block name="content">
<div class="content">
    <div class="row-fluid">
        <div class="span12">
            <div class="box">
                <div class="box-head">
                    <h3>Bars</h3>
                </div>
                <div class="box-content">
                    <div class="flot flot-bar"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div class="box">
                <div class="box-head">
                    <h3>Lines</h3>
                </div>
                <div class="box-content">
                    <div class="flot flot-line"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div class="box">
                <div class="box-head">
                    <h3>Live charts</h3>
                </div>
                <div class="box-content">
                    <div class="flot flot-live"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</block>
<block name='script'>
<script src="__PUBLIC__/Common/flot/js/jquery.flot.min.js"></script>
<script src="__PUBLIC__/Common/flot/js/jquery.flot.resize.min.js"></script>
<script src="__PUBLIC__/Common/flot/js/jquery.flot.orderBars.js"></script>
<script type="text/javascript">
$('#statistics').addClass('active');
</script>
</block>
