<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>果大侠后台管理</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="__PUBLIC__/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Bootstrap theme -->
    <link rel="stylesheet" href="__PUBLIC__/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">

  </head>

  <body role="document">
    <div class="container-fluid theme-showcase" role="main">
		<div class="row text-center">
			<div class="panel panel-success">
				<div class="panel-heading">选择取货地点</div>
				<div class="panel-body">
				   <select class="form-control">
						<option>北京</option>
						<option>上海</option>
						<option>天津</option>
					</select>
				</div>
			</div>
			<div class="panel panel-success">
				<div class="panel-heading">选择取货星期</div>
				<div class="panel-body">
					<div class="checkbox-inline">
						<label>
							<input type="checkbox" value="1">
							星期一
						</label>
					</div>
					<div class="checkbox-inline">
						<label>
							<input type="checkbox" value="1">
							星期二
						</label>
					</div>
					<div class="checkbox-inline">
						<label>
							<input type="checkbox" value="1">
							星期三
						</label>
					</div>
					<div class="checkbox-inline">
						<label>
							<input type="checkbox" value="1">
							星期四
						</label>
					</div>
					<div class="checkbox-inline">
						<label>
							<input type="checkbox" value="1">
							星期五
						</label>
					</div>
					<div class="checkbox-inline">
						<label>
							<input type="checkbox" value="1">
							星期六
						</label>
					</div>
					<div class="checkbox-inline">
						<label>
							<input type="checkbox" value="1">
							星期日
						</label>
					</div>
				</div>
			</div>
			<div class="panel panel-success">
				<div class="panel-heading">选择取货时间</div>
				<div class="panel-body">
					<select class="form-control">
						<option>上午08:00-09:00</option>
						<option>中午12:00-13:00</option>
						<option>下午15:00-16:00</option>
					</select>
				</div>
			</div>
			<div class="panel panel-success">
				<div class="panel-heading">选择喜欢水果</div>
				<div class="panel-body">
					<div class="checkbox-inline">
						<label>
							<input type="checkbox" value="1">
							苹果
						</label>
					</div>
					<div class="checkbox-inline">
						<label>
							<input type="checkbox" value="1">
							梨
						</label>
					</div>
					<div class="checkbox-inline">
						<label>
							<input type="checkbox" value="1">
							香蕉
						</label>
					</div>
					<div class="checkbox-inline">
						<label>
							<input type="checkbox" value="1">
							橘子
						</label>
					</div>
					<div class="checkbox-inline">
						<label>
							<input type="checkbox" value="1">
							葡萄
						</label>
					</div>
					<div class="checkbox-inline">
						<label>
							<input type="checkbox" value="1">
							西红柿
						</label>
					</div>
					<div class="checkbox-inline">
						<label>
							<input type="checkbox" value="1">
							火龙果
						</label>
					</div>
				</div>
			</div>
			<div class="panel panel-success">
				<div class="panel-heading">个人信息</div>
				<div class="panel-body">
					<input type="text" class="form-control" style="margin:0px 0px 10px 0px" placeholder="姓名">
					<input type="text" class="form-control" placeholder="手机号">
				</div>
			</div>
			<button type="button" class="btn btn-success btn-lg btn-block">提交</button>
		</div>
    </div>
    <script src="__PUBLIC__/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="__PUBLIC__/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>