<extend name="base" />
<block name="css">
<link rel="stylesheet" href="__PUBLIC__/Common/dataTables/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="__PUBLIC__/Common/dataTables/extensions/tableTools/css/dataTables.tableTools.min.css">
<link rel="stylesheet" href="__PUBLIC__/Common/dataTables/extensions/editor/css/dataTables.editor.min.css">
</block>
<block name="content">
<div class="row-fluid">
    <div class="span12">
        <div class="box">
            <div class="box-head tabs">
                <h3>用户列表</h3>
            </div>
            <div class="box-content box-nomargin">
                <table id="table" class="display">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>openId</th>
                            <th>qrScene</th>
                            <th>score</th>
                            <th>subscribe</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
</block>
<block name='script'>
<script src="__PUBLIC__/Common/dataTables/js/jquery.dataTables.js"></script>
<script src="__PUBLIC__/Common/dataTables/extensions/tableTools/js/dataTables.tableTools.min.js"></script>
<script src="__PUBLIC__/Common/dataTables/extensions/editor/js/dataTables.editor.min.js"></script>
<script type="text/javascript">
var editor;
$(document).ready(function() {
$('#data').addClass('active');
$('#user').addClass('active');
$('#user').parent().removeClass('closed');
editor = new $.fn.dataTable.Editor( {
        ajax: "../php/staff.php",
        table: "#table",
        fields: [ {
                label: "ID",
                name: "id"
            }, {
                label: "openId",
                name: "openId"
            }, {
                label: "qrScene",
                name: "qrScene"
            }, {
                label: "score",
                name: "score"
            }, {
                label: "subscribe",
                name: "subscribe"
            }
        ]
    } );
$('#table').dataTable({
    dom: "Tfrtip",
    searching: false,
    lengthChange: false,
    processing: true,
    serverSide: true,
    ajax: "users",
    columns: [
                { "data": "id" },
                { "data": "openId" },
                { "data": "qrScene" },
                { "data": "score" },
                { "data": "subscribe" }
            ],
    tableTools: {
            sRowSelect: "os",
            aButtons: [
                { sExtends: "editor_create", editor: editor },
                { sExtends: "editor_edit",   editor: editor },
                { sExtends: "editor_remove", editor: editor }
            ]
        }
        });
});
</script>
</block>
