<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<title>{$content.title}</title>
<link rel="stylesheet" type="text/css" href="http://res.wx.qq.com/mmbizwap/zh_CN/htmledition/style/page/page_mp_article2248c4.css"/>
</head>
<body id="activity-detail" class="zh_CN ">
<div class="rich_media">
    <div class="rich_media_inner">
        <h2 class="rich_media_title" id="activity-name">
            {$content.title} 
        </h2>
        <div class="rich_media_meta_list">
            <em id="post-date" class="rich_media_meta text">{:date('Y-m-d')}</em>

            <a class="rich_media_meta link nickname" href="javascript:void(0);" id="post-user">每日开心科技-果大侠</a>
        </div>
        <div id="page-content">
            <div id="img-content">
                <div class="rich_media_thumb" id="media">
                    <img src="{$content.picUrl}" />
                </div>
                <div class="rich_media_content" id="js_content">
                    <p>{$content.description}</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
