<!DOCTYPE HTML>
<html>
    <head>
        <title>Home</title>
        <css href="__PUBLIC__/css/style.css" media="all" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <!--slider-->
        <css href="__PUBLIC__/css/flexslider.css" media="all" />
        <js href="__PUBLIC__/js/modernizr.js" />
        <!-- jQuery -->
        <js href="__PUBLIC__/js/jquery.min.js" />
        <!-- FlexSlider -->
        <script defer="defer" src="__PUBLIC__/js/jquery.flexslider.js" /></script>
        <script type="text/javascript">
            $(function(){
                    SyntaxHighlighter.all();
                    });
$(window).load(function(){
        $('.flexslider').flexslider({
animation: "slide",
start: function(slider){
$('body').removeClass('loading');
}
});
        });
</script>
</head>
<body>
    <div class="header-box"></div>
    <div class="wrap"> 
        <div class="total">
            <div class="header">
                <div class="header-bot">
                    <div class="logo">
                        <a href="index.html"><img src="__PUBLIC__/images/logo.png" alt=""/></a>
                    </div>
                    <ul class="follow_icon">
                        <li><a href="#"><img src="__PUBLIC__/images/fb1.png" alt=""></a></li>
                        <li><a href="#"><img src="__PUBLIC__/images/rss.png" alt=""></a></li>
                        <li><a href="#"><img src="__PUBLIC__/images/tw.png" alt=""></a></li>
                        <li><a href="#"><img src="__PUBLIC__/images/g+.png" alt=""></a></li>
                    </ul>
                    <div class="clear"></div> 
                </div>
                <div class="search-bar">
                    <input type="text" class="textbox" value=" Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
                    <input name="searchsubmit" type="image" src="__PUBLIC__/images/search-icon.png" value="Go" id="searchsubmit" class="btn">
                    <div class="clear"></div>
                </div>
                <div class="clear"></div> 
            </div>	
            <div class="menu"> 	
                <div class="top-nav">
                    <ul>
                        <li class="active"><a href="index.html">Home</a></li>
                        <li><a href="__CONTROLLER__/about.html">About</a></li> |
                        <li><a href="__CONTROLLER__/menu.html">Menu</a></li> |
                        <li><a href="__CONTROLLER__/services.html">Services</a></li> |
                        <li><a href="__CONTROLLER__/contact.html">Contact</a></li>
                    </ul>
                </div>
            </div>		
            <div class="banner">
                <div class="flexslider">
                    <ul class="slides">
                        <li><img src="__PUBLIC__/images/banner2.jpg" alt=""/></li>
                        <li><img src="__PUBLIC__/images/banner1.jpg"  alt=""/></li>
                        <li><img src="__PUBLIC__/images/banner3.jpg"  alt=""/></li>
                        <li><img src="__PUBLIC__/images/banner4.jpg"  alt=""/></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="heading3">
                <h3>Featured</h3>
            </div>
            <div class="section group">
                <div class="col_1_of_4 span_1_of_4">
                    <img src="__PUBLIC__/images/pic.jpg" alt=""/>
                    <div class="desc">
                        <div class="left-text">
                            <h5>
                                <a href="#">Lorem ipsum dolor</a></h5>
                        </div>
                        <span class="price"><small>$</small>1`870</span>
                    </div>
                </div>
                <div class="col_1_of_4 span_1_of_4">
                    <img src="__PUBLIC__/images/pic1.jpg" alt=""/>
                    <div class="desc">
                        <div class="left-text">
                            <h5>
                                <a href="#">Lorem ipsum dolor</a></h5>
                        </div>
                        <span class="price"><small>$</small>1`970</span>
                    </div>
                </div>
                <div class="col_1_of_4 span_1_of_4">
                    <img src="__PUBLIC__/images/pic2.jpg" alt=""/>
                    <div class="desc">
                        <div class="left-text">
                            <h5>
                                <a href="#">Lorem ipsum dolor</a></h5>
                        </div>
                        <span class="price"><small>$</small>1`670</span>
                    </div>
                </div>
                <div class="col_1_of_4 span_1_of_4 active-grid">
                    <img src="__PUBLIC__/images/pic3.jpg" alt=""/>
                    <div class="last-desc">
                        <div class="left-text">
                            <h6>
                                <a href="#">Lorem ipsum dolor</a></h6>
                        </div>
                        <span class="price-last"><small>$</small>1`770</span>
                    </div>
                </div>
                <div class="clear"></div> 
            </div>
            <div class="content-middle">
                <div class="lsidebar span_1_of_3">
                    <img src="__PUBLIC__/images/pic4.jpg" alt=""/>
                </div>
                <div class="cont span_2_of_3">
                    <div class="test-meta"><img src="__PUBLIC__/images/quotes.png" alt=""/><span class="user">Tlaoreet dolore, </span><span class="info">Customer</span></div>
                    <p class="paragraph"><a href="#">Lorem ipsum dolor sit amet consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauscipit varius mi. Cum sociis natoque penatibus nis dis parturient montes nascetur ridiculus mus. Nulla dui... </a></p>
                </div>		
                <div class="clear"></div> 		
            </div>
            <div class="bottom-grids">
                <div class="bottom-grid1">
                    <h3>POPULAR INFO</h3>
                    <span>consectetur adipisicing elit, sed do eiusmod tempor</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <ul>
                        <li><a href="#"><img src="__PUBLIC__/images/marker1.png"> consectetur adipisicing elit</a></li>
                        <li><a href="#"><img src="__PUBLIC__/images/marker1.png"> sed do eiusmod tempor incididunt</a></li>
                        <li><a href="#"><img src="__PUBLIC__/images/marker1.png"> labore et dolore magna aliqua.</a></li>
                        <li><a href="#"><img src="__PUBLIC__/images/marker1.png"> sed do eiusmod tempor</a></li>
                        <li><a href="#"><img src="__PUBLIC__/images/marker1.png"> abore et dolore magna</a></li>
                        <li><a href="#"><img src="__PUBLIC__/images/marker1.png"> incididunt ut labore et dolore</a></li>
                        <li><a href="#"><img src="__PUBLIC__/images/marker1.png"> dolore magna aliqua</a></li>
                        <li><a href="#"><img src="__PUBLIC__/images/marker1.png"> adipisicing elit, sed do eiusmod</a></li>
                        <li><a href="#"><img src="__PUBLIC__/images/marker1.png"> adipisicing elit, sed do eiusmod</a></li>
                        <div class="clear"> </div>
                    </ul><br>
                    <a href='#' class='button'>Read More</a>
                </div>
                <div class="bottom-grid2 bottom-mid">
                    <h3>Our Restaurants</h3>
                    <span>consectetur adipisicing elit, sed do eiusmod tempor</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. consectetur adipisicing elit, sed do eiusmod</p>
                    <div class="gallery">
                        <ul>
                            <li><a href="__PUBLIC__/images/t-pic5.jpg"><img src="__PUBLIC__/images/pic5.jpg" alt=""></a></li>
                            <li><a href="__PUBLIC__/images/t-pic6.jpg"><img src="__PUBLIC__/images/pic6.jpg" alt=""></a></li>
                            <li><a href="__PUBLIC__/images/t-pic7.jpg"><img src="__PUBLIC__/images/pic7.jpg" alt=""></a></li>
                            <li><a href="__PUBLIC__/images/t-pic8.jpg"><img src="__PUBLIC__/images/pic8.jpg" alt=""></a></li>
                            <li><a href="__PUBLIC__/images/t-pic9.jpg"><img src="__PUBLIC__/images/pic9.jpg" alt=""></a></li>
                            <li><a href="__PUBLIC__/images/t-pic10.jpg"><img src="__PUBLIC__/images/pic10.jpg" alt=""></a></li>
                            <li><a href="__PUBLIC__/images/t-pic11.jpg"><img src="__PUBLIC__/images/pic11.jpg" alt=""></a></li>
                            <li><a href="__PUBLIC__/images/t-pic12.jpg"><img src="__PUBLIC__/images/pic12.jpg" alt=""></a></li>
                            <li><a href="__PUBLIC__/images/t-pic13.jpg"><img src="__PUBLIC__/images/pic13.jpg" alt=""></a></li>
                            <li><a href="__PUBLIC__/images/t-pic14.jpg"><img src="__PUBLIC__/images/pic14.jpg" alt=""></a></li>
                            <li><a href="__PUBLIC__/images/t-pic15.jpg"><img src="__PUBLIC__/images/pic15.jpg" alt=""></a></li>
                            <li><a href="__PUBLIC__/images/t-pic16.jpg"><img src="__PUBLIC__/images/pic16.jpg" alt=""></a></li>

                            <div class="clear"> </div>
                        </ul><br>
                        <a href='#' class='button'>Read More</a>
                    </div>
                    <js href="__PUBLIC__/js/jquery.min.js" />

                    <js href="__PUBLIC__/js/jquery.lightbox.js" />
                    <css href="__PUBLIC__/css/lightbox.css" media="screen">
                    <script type="text/javascript">
                        $(function() {
                                $('.gallery a').lightBox();
                                });
</script>
                            </div>
                            <div class="bottom-grid1 bottom-last">
                                <h3>Latest INFO</h3>
                                <span>consectetur adipisicing elit, sed do eiusmod tempor</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt .</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt consectetur adipisicing elit, sed do eiusmod incididunt ut labore et .</p>
                                <br>
                                <a href='#' class='button'>Read More</a>
                            </div>
                            <div class="clear"> </div>
                        </div>
                        <div class="clear"> </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="wrap">
                        <div class="copy">
                            <p>Copyright &copy; 2014.Company name All rights reserved.<a target="_blank"
                                href="http://www.meirixianguo.com/">果大侠</a></p>
                        </div>
                    </div>
                </div>
            </body>
        </html>
