<!DOCTYPE HTML>
<html>
    <head>
        <title>Home</title>
        <css href="__PUBLIC__/Home/css/style.css" media="all" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <!--slider-->
        <css href="__PUBLIC__/Home/css/flexslider.css" media="all" />
        <js href="__PUBLIC__/Home/js/modernizr.js" />
        <!-- jQuery -->
        <js href="__PUBLIC__/Home/js/jquery.min.js" />
        <!-- FlexSlider -->
        <script defer="defer" src="__PUBLIC__/Home/js/jquery.flexslider.js" /></script>
        <script type="text/javascript">
            $(function(){
                    SyntaxHighlighter.all();
                    });
$(window).load(function(){
        $('.flexslider').flexslider({
animation: "slide",
start: function(slider){
$('body').removeClass('loading');
}
});
        });
</script>
</head>
<body>
    <div class="header-box"></div>
    <div class="wrap"> 
        <div class="total">
            <div class="header">
                <div class="header-bot">
                    <div class="logo">
                        <a href="index.html"><img src="__PUBLIC__/Home/img/logo.png" alt=""/></a>
                    </div>
                    <div class="clear"></div> 
                </div>
                <div class="search-bar">
                    <input type="text" class="textbox" value=" Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
                    <input name="searchsubmit" type="image" src="__PUBLIC__/Home/img/search-icon.png" value="Go" id="searchsubmit" class="btn">
                    <div class="clear"></div>
                </div>
                <div class="clear"></div> 
            </div>	
            <div class="menu"> 	
                <div class="top-nav">
                    <ul>
                        <li class="active"><a href="__CONTROLLER__/index.html">主页</a></li>
                        <li><a href="__CONTROLLER__/contact.html">联系我们</a></li>
                    </ul>
                </div>
            </div>		
            <div class="banner">
                <div class="flexslider">
                    <ul class="slides">
                        <li><img src="__PUBLIC__/Home/img/banner2.jpg" alt=""/></li>
                        <li><img src="__PUBLIC__/Home/img/banner1.jpg"  alt=""/></li>
                        <li><img src="__PUBLIC__/Home/img/banner3.jpg"  alt=""/></li>
                        <li><img src="__PUBLIC__/Home/img/banner4.jpg"  alt=""/></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="heading3">
                <h3>承诺</h3>
            </div>
            <div class="section group">
                <div class="col_1_of_4 span_1_of_4">
                    <img src="__PUBLIC__/Home/img/pic.jpg" alt=""/>
                    <div class="desc">
                        <div class="left-text">
                            <h3>
                                <a href="#">卫生</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col_1_of_4 span_1_of_4">
                    <img src="__PUBLIC__/Home/img/pic1.jpg" alt=""/>
                    <div class="desc">
                        <div class="left-text">
                            <h3>
                                <a href="#">新鲜</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col_1_of_4 span_1_of_4">
                    <img src="__PUBLIC__/Home/img/pic2.jpg" alt=""/>
                    <div class="desc">
                        <div class="left-text">
                            <h3>
                                <a href="#">周到</a></h3>
                        </div>
                    </div>
                </div>
                <div class="col_1_of_4 span_1_of_4">
                    <img src="__PUBLIC__/Home/img/pic3.jpg" alt=""/>
                    <div class="desc">
                        <div class="left-text">
                            <h3>
                                <a href="#">快捷</a></h3>
                        </div>
                    </div>
                </div>
                <div class="clear"></div> 
            </div>
            <div class="content-middle">
                <div class="lsidebar span_1_of_3">
                    <img src="__PUBLIC__/Home/img/pic4.jpg" alt=""/>
                </div>
                <div class="cont span_2_of_3">
                    <div class="test-meta"><img src="__PUBLIC__/Home/img/quotes.png"
                        alt=""/><span class="user">公司口号之类的吧</span><span
                    class="info">果大侠</span></div>
                    <p class="paragraph"><a href="#">Lorem ipsum dolor sit amet consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauscipit varius mi. Cum sociis natoque penatibus nis dis parturient montes nascetur ridiculus mus. Nulla dui... </a></p>
                </div>		
                <div class="clear"></div> 		
            </div>
            <div class="bottom-grids">
                <div class="bottom-grid1">
                    <h3>网上商店</h3>
                    <span>consectetur adipisicing elit, sed do eiusmod tempor</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <ul>
                        <li><a href="#"><img src="__PUBLIC__/Home/img/marker.png">淘宝</a></li>
                        <li><a href="#"><img src="__PUBLIC__/Home/img/marker.png">京东商城</a></li>
                        <div class="clear"> </div>
                    </ul><br>
                </div>
                <div class="bottom-grid2 bottom-mid">
                    <h3>产品介绍</h3>
                    <span>consectetur adipisicing elit, sed do eiusmod tempor</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. consectetur adipisicing elit, sed do eiusmod</p>
                    <div class="gallery">
                        <ul>
                            <li><a href="__PUBLIC__/Home/img/t-pic5.jpg"><img src="__PUBLIC__/Home/img/pic5.jpg" alt=""></a></li>
                            <li><a href="__PUBLIC__/Home/img/t-pic6.jpg"><img src="__PUBLIC__/Home/img/pic6.jpg" alt=""></a></li>
                            <li><a href="__PUBLIC__/Home/img/t-pic7.jpg"><img src="__PUBLIC__/Home/img/pic7.jpg" alt=""></a></li>
                            <li><a href="__PUBLIC__/Home/img/t-pic8.jpg"><img src="__PUBLIC__/Home/img/pic8.jpg" alt=""></a></li>
                            <li><a href="__PUBLIC__/Home/img/t-pic9.jpg"><img src="__PUBLIC__/Home/img/pic9.jpg" alt=""></a></li>
                            <li><a href="__PUBLIC__/Home/img/t-pic10.jpg"><img src="__PUBLIC__/Home/img/pic10.jpg" alt=""></a></li>
                            <li><a href="__PUBLIC__/Home/img/t-pic11.jpg"><img src="__PUBLIC__/Home/img/pic11.jpg" alt=""></a></li>
                            <li><a href="__PUBLIC__/Home/img/t-pic12.jpg"><img src="__PUBLIC__/Home/img/pic12.jpg" alt=""></a></li>
                            <li><a href="__PUBLIC__/Home/img/t-pic13.jpg"><img src="__PUBLIC__/Home/img/pic13.jpg" alt=""></a></li>
                            <li><a href="__PUBLIC__/Home/img/t-pic14.jpg"><img src="__PUBLIC__/Home/img/pic14.jpg" alt=""></a></li>
                            <li><a href="__PUBLIC__/Home/img/t-pic15.jpg"><img src="__PUBLIC__/Home/img/pic15.jpg" alt=""></a></li>
                            <li><a href="__PUBLIC__/Home/img/t-pic16.jpg"><img src="__PUBLIC__/Home/img/pic16.jpg" alt=""></a></li>

                            <div class="clear"> </div>
                        </ul><br>
                    </div>
                    <js href="__PUBLIC__/Home/js/jquery.min.js" />

                    <js href="__PUBLIC__/Home/js/jquery.lightbox.js" />
                    <css href="__PUBLIC__/Home/css/lightbox.css" media="screen" />
                    <script type="text/javascript">
                        $(function() {
                                $('.gallery a').lightBox({
                                                    imageLoading:'__PUBLIC__/Home/img/lightbox-ico-loading.gif',
                                                    imageBtnPrev:'__PUBLIC__/Home/img/lightbox-btn-prev.gif',
                                                    imageBtnNext:'__PUBLIC__/Home/img/lightbox-btn-next.gif',
                                                    imageBtnClose:'__PUBLIC__/Home/img/lightbox-btn-close.gif',
                                                    imageBlank:'__PUBLIC__/Home/img/lightbox-blank.gif'
                                        });

                                });
</script>
                            </div>
                            <div class="bottom-grid1 bottom-last">
                                <h3>公司消息</h3>
                                <span>consectetur adipisicing elit, sed do eiusmod tempor</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt consectetur adipisicing elit, sed do eiusmod incididunt ut labore et .</p>
                                <br>
                                <a href='#' class='button'>Read More</a>
                            </div>
                            <div class="clear"> </div>
                        </div>
                        <div class="clear"> </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="wrap">
                        <div class="copy">
                            <p>Copyright &copy; 2014.Company name All rights reserved.<a target="_blank"
                                href="http://www.meirixianguo.com/">果大侠</a></p>
                        </div>
                    </div>
                </div>
            </body>
        </html>
