<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta name="description" content="微信转盘">

<title>幸运大转盘抽奖</title>
<link href="__PUBLIC__/Wechat/css/activity-style.css" rel="stylesheet" type="text/css">
</head>

<body class="activity-lottery-winning">
<div class="main">
    <script type="text/javascript">
        var loadingObj = new loading(document.getElementById('loading'),{radius:20,circleLineWidth:8});   
        loadingObj.show();   
    </script>
    <div id="outercont" 
        <if condition="$enableDzp==false">
        style="display:none"
        </if>
        >
        <div id="outer-cont">
            <div id="outer" style="-webkit-transform: rotate(2136deg);"><img src="__PUBLIC__/Wechat/images/activity-lottery-1.png" width="310px"></div>
        </div>
        <div id="inner-cont">
            <div id="inner"><img src="__PUBLIC__/Wechat/images/activity-lottery-2.png"></div>
        </div>
    </div>
    <div class="content">
        <div class="boxcontent boxyellow" id="result"
        <if condition="$enableDzp==true">
        style="display:none"
        </if>
        >
            <div class="box">
                <div class="title-orange"><span>消息：</span></div>
                <div class="Detail">
                    <p id="message">{$message}</p>
                </div>
            </div>
        </div>
        <div class="boxcontent boxyellow">
            <div class="box">
                <div class="title-green"><span>奖项设置：</span></div>
                <div class="Detail">
                    <volist name="prizes" id="prize">
                    <p>{$prize.name}：{$prize.description} 。奖品数量：{$prize.quantity} </p>
                    </volist>
                </div>
            </div>
        </div>
        <div class="boxcontent boxyellow">
            <div class="box">
                <div class="title-green">活动说明：</div>
                <div class="Detail">
                    <p>{$rule}</p>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="__PUBLIC__/Common/jQuery/js/jquery-1.11.1.min.js" type="text/javascript"></script> 
<script type="text/javascript">
$(function(){
    window.requestAnimFrame=(function(){
        return window.requestAnimationFrame||
                window.webkitRequestAnimationFrame||
                window.mozRequestAnimationFrame||
                window.oRequestAnimationFrame||
                window.msRequestAnimationFrame||
                function(callback){
                    window.setTimeout(callback,1000/60)}
    })();
    var totalDeg=360*3+0;
    var steps=[];
    var lostDeg=[36,66,96,156,186,216,276,306,336];
    var prizeDeg=[6,126,246];
    var prize,sncode;
    var count=0;
    var now=0;
    var a=0.01;
    var outter,inner,timer,running=false;
    function countSteps(){
        var t=Math.sqrt(2*totalDeg/a);
        var v=a*t;
        for(var i=0; i<t; i++){
            steps.push((2*v*i-a*i*i)/2);
        }
        steps.push(totalDeg);
    }
    function step(){
        outter.style.webkitTransform='rotate('+steps[now++]+'deg)';
        outter.style.MozTransform='rotate('+steps[now++]+'deg)';
        if(now<steps.length){
            requestAnimFrame(step);
        }else{
            running=false;
            setTimeout(function(){
                if(prize!=null){
                    var type="";
                    if(prize==1){
                        type="一等奖";
                    }else if(prize==2){
                        type="二等奖";
                    }else if(prize==3){
                        type="三等奖";
                    }
                    $("#message").text(type);
                    $("#result").slideToggle(500);
                    $("#outercont").slideUp(500);
                }else{
                    alert("谢谢您的参与，下次再接再厉")
                }
            },200);
        }
    }
    function start(deg){
        deg=deg||lostDeg[parseInt(lostDeg.length*Math.random())];
        running=true;
        clearInterval(timer);
        totalDeg=360*5+deg;
        steps=[];
        now=0;
        countSteps();
        requestAnimFrame(step);
    }
    window.start=start;
    outter=document.getElementById('outer');
    inner=document.getElementById('inner');
    i=10;
    $("#inner").click(function(){
        if(running) return;
        if(count>={$count}){
            alert("您已经达到最大抽奖次数了。");
            return;
        }
        $.ajax({
            url:"{:U('Wechat/Addons/dzp_data')}",
            dataType:"json",
            data:{ openId:"{$openId}" },
            beforeSend:function(){
                running=true;
                timer=setInterval(function(){
                    i+=5;
                    outter.style.webkitTransform='rotate('+i+'deg)';
                    outter.style.MozTransform='rotate('+i+'deg)';
                },1)},
            success:function(data) {
                if(data.success) {
                    prize=data.prize;
                    start(prizeDeg[data.prize-1]);
                } else {
                    prize=null;
                    start();
                }
                running=false;
                count++;
            },
            error:function(){
                prize=null;
                start();
                running=false;
                count++;
            },
            timeout:4000
        })
    })
});
</script>
</body>
</html>
